* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Open+Sans:400,400i,700");
body {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #F1F6F8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-weight: 400;
    line-height: 1;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p,
li,
blockquote,
label {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    color: #999999;
    margin-bottom: 0;
}

p {
    line-height: 27px;
}

a {
    color: inherit;
    transition: 0.2s ease;
}

a:focus,
a:hover {
    /* color: #7d71d3; */
    text-decoration: none;
}

.text-primary {
    color: #7d71d3 !important;
}

.bg-gray {
    background: #f8f8f8;
}

.bg-blue {
    background: #7d71d3;
}

.section {
    padding: 100px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 85px;
}

.section-title h2 {
    font-size: 48px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}

.section-title p {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
}

@media (max-width: 480px) {
    .section-title p {
        width: 100%;
    }
}


.main-nav {
    background: #5986AD;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.main-nav .navbar-brand {
    color: white;
    padding: 0;
}

.main-nav .navbar-nav .nav-item {
    position: relative;
}

.main-nav .navbar-nav .nav-item .nav-link {
    position: relative;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
}

.large {
    padding-top: 25px;
    padding-bottom: 25px;
}

.small {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-main {
    padding: 50px 0;
    background: #37517e;
}

@media (max-width: 768px) {
    .footer-main {
        text-align: center;
    }
}

.footer-main .footer-logo {
    margin-bottom: 15px;
    color: white;
}

.footer-main .copyright {
    opacity: 0.7;
}

.footer-main .copyright p {
    color: #fff;
}

.footer-main .copyright a:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .footer-main ul.social-icons {
        margin-top: 30px;
    }
}

.footer-main ul.footer-links {
    margin-top: 44px;
}

@media (max-width: 768px) {
    .footer-main ul.footer-links {
        margin-top: 20px;
    }
}

.footer-main ul.footer-links li a {
    color: #fff;
    padding: 0 10px;
    display: block;
    opacity: 0.7;
}

.footer-main ul.footer-links li a:hover {
    opacity: 1;
}

.footer-main ul.footer-links li:last-child a {
    padding-right: 0;
}

.footer-classic {
    background: #fafafa;
    text-align: center;
    padding: 110px 0;
}

.footer-classic ul.social-icons {
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .footer-classic ul.social-icons li {
        margin-bottom: 10px;
    }
}

.footer-classic ul.social-icons li a {
    padding: 0 20px;
    display: block;
}

.footer-classic ul.social-icons li a i {
    font-size: 25px;
    color: #000;
}

.footer-classic ul.footer-links li a {
    padding: 0 10px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

@media (max-width: 768px) {
    .cta-subscribe .image {
        margin-bottom: 30px;
        text-align: center;
    }
}

.cta-subscribe .content {
    margin-left: 25px;
}

@media (max-width: 768px) {
    .cta-subscribe .content {
        text-align: center;
    }
}



.banner {
    padding: 225px 0 100px;
    min-height: 100vh;
}

.banner .content-block.ml-50 {
    margin-left: 50px;
}

@media (max-width: 768px) {
    .banner .content-block.ml-50 {
        margin-left: 30px;
    }
}

@media (max-width: 480px) {
    .banner .content-block.ml-50 {
        margin-left: 0;
    }
}

.banner .content-block h1,
.banner .content-block h5 {
    color: #37517e;
}

.banner .content-block h1 {
    /* line-height: 70px; */
    font-weight: 600;
    /* text-transform: uppercase; */
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}

.banner .content-block h5 {
    margin-bottom: 75px;
}

@media (max-width: 480px) {
    .banner .content-block {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .banner .image-block {
        margin-top: 30px;
        text-align: center;
    }
}

.phone-thumb {
    max-height: 550px;
}

.phone-thumb-md {
    max-height: 600px;
}

@media (max-width: 768px) {
    .about .image-block {
        text-align: center;
        margin-bottom: 30px;
    }
}


.team-member {
    background: #fff;
    padding: 30px;
}

@media (max-width: 768px) {
    .team-member {
        margin-bottom: 40px;
    }
}

.team-member .image {
    margin-bottom: 30px;
}

.team-member .image img {
    border-radius: 100%;
}

.team-member .name h5 {
    font-size: 18px;
}

.team-member .position {
    margin-bottom: 20px;
}

.team-member .skill-bar {
    display: flex;
    margin-bottom: 20px;
}

.team-member .skill-bar .progress {
    width: 80%;
    height: 7px;
    align-self: center;
}

.team-member .skill-bar .progress .progress-bar {
    width: 0;
    background: #7d71d3;
}

.team-member .skill-bar span {
    font-size: 12px;
    margin-left: 15px;
}

.banner-full .image {
    display: flex;
    justify-content: center;
}

.banner-full .image img {
    height: 625px;
}

@media (max-width: 768px) {
    .banner-full .image {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .banner-full .block {
        text-align: center;
    }
}

.founder {
    margin-bottom: 30px;
}

.founder img {
    border-radius: 5px;
    margin-bottom: 25px;
}

.founder h2 {
    font-size: 30px;
    line-height: 30px;
}

.founder cite {
    font-size: 14px;
    font-style: normal;
}

.founder p {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

.team-sm {
    margin-bottom: 30px;
}

.team-sm .image {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.team-sm .image img {
    border-radius: 5px;
}

.team-sm .image .social-links {
    position: absolute;
    background: #7d71d3;
    left: 0;
    right: 0;
    text-align: center;
    width: calc(100% - 80px);
    margin: 0 40px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    transition: 0.3s;
    bottom: 20px;
}

.team-sm .image .social-links ul {
    margin-bottom: 0;
}

.team-sm .image .social-links ul li a {
    display: block;
    padding: 15px;
}

.team-sm .image .social-links ul li a i {
    font-size: 20px;
    color: #fff;
}

.team-sm .image:hover .social-links {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.team-sm h3 {
    margin-bottom: 0;
}

.team-sm cite {
    font-size: 14px;
    font-style: normal;
}

.team-sm p {
    margin-top: 15px;
}

.featured-article {
    padding: 0 0 50px 0;
}

.featured-article article.featured {
    display: flex;
}

@media (max-width: 768px) {
    .featured-article article.featured {
        flex-wrap: wrap;
    }
}

.featured-article article.featured .image {
    flex-basis: 100%;
    padding: 20px;
}

.featured-article article.featured .image img {
    width: 100%;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .featured-article article.featured .image {
        margin-bottom: 20px;
    }
}

.fa-stack-1x {
    color: #fde000;
}
.icon-azul {
    color: #0024fd;
}
.icon-amarillos {
   color:#f3ec1731;
}
.icon-azules{
   color:#5f81ce52;
}


#hero {
    width: 100%;
    height: 95vh;
    background: #F1F6F8;
}

#hero .container {
    padding-top: 72px;
}

#team .container {
    padding-top: 72px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #37517e;
}

#team h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #37517e;
}

#hero h2 {
    color: rgba(29, 37, 49, 0.39);
    margin-bottom: 50px;
    font-size: 20px;
}

#team h2 {
    color: rgba(29, 37, 49, 0.39);
    margin-bottom: 50px;
    font-size: 20px;
}

#hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
}

#hero .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
}

#hero .btn-watch-video i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
}

@media (max-width: 991px) {
    #hero {
        height: 100vh;
        text-align: center;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img img {
        width: 70%;
    }

    #team h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #team h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #team .hero-img img {
        width: 70%;
    }
    
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
    #hero .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.cliens {
    padding: 12px 0;
    text-align: center;
  }
  
  .cards-descripcion{
    max-width: 100%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    /* padding: 15px 0; */
  }

  .cards-descripcion:hover{
    filter: none;
    transform: scale(1.1);
  }

  .cliens img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
  }
  
  .cliens img:hover {
    filter: none;
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .cliens img {
      max-width: 40%;
    }
  }

#footer {
    font-size: 14px;
    background: #37517e;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #37517e;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #47b2e4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}


#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

#footer .copyright {
    float: left;
}

#footer .credits {
    float: right;
    padding-left: 0.5rem;
    font-size: 13px;
}

#footer .credits a {
    transition: 0.3s;
}

@media (max-width: 768px) {
    #footer .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #footer .copyright,
    #footer .credits {
        text-align: center;
        float: none;
    }
    #footer .credits {
        padding-top: 4px;
    }
}
